body {
    background-image: url(../images/background.jpg);
    background-size: 100%;
}

#header {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.instructions {
    width: 30%;
    height: 350px;
    font-size: 33px;
    padding-top: 30px;
    margin-left: 10px;
}

#goalNumber {
    font-size: 33px;
    padding-top: 30px;
    margin-left: 10px;
}

#winsLosses {
    font-size: 33px;
    padding-top: 30px;
    margin-left: 10px;
}


.gemImage {
    width: 90px;
    height: 100px;
    margin: 10px;
}

#gemTotal {
    font-size: 33px;
    padding-top: 30px;
    margin-left: 10px;
    color: gold;
}